body {
  background-color: black;
  overflow: hidden;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: beige;
  margin: 20px;
}
.container {
  display: flex;
  gap: 1rem;
  width: max-content;
}
.img {
  width: 200px;
  flex-shrink: 0;
}
img {
  width: 100%;
}
